# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# macOS
.DS_Store

# Editor
.idea/
.vscode/
*.swp

# Home Assistant dev
config/
.storage/

custom_components/modbus_manager/device_definitions/modbus_gate_controller.yaml
